.forgot-password-modal {
    font-family: "Roboto", sans-serif;
    font-weight: bold;

    background-color: #a3e2d8;
    height: auto;
    width: 55%;
    max-width: 600px;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 4rem;
    margin: auto;
}

.forgot-password-text {
    font-weight: 400;

    font-size: clamp(0.5rem, 5vw, 1rem);
    margin-bottom: 2rem;
    text-align: center;
}

.email-input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.login-redirect-button,
.submit-button {
    padding: 1rem 4rem;
    border: none;
    border-radius: 15px;

    margin-bottom: 2rem;
    color: white;
    font-size: clamp(1.2rem, 4vw, 1.7rem);

    text-decoration: none;
}

.login-redirect-button {
    background-color: #296ef2;
}

.submit-button {
    background-color: #02cc17;
}

.login-redirect-button:hover,
.submit-button {
    cursor: pointer;
}